body{
    margin: 0%;
    padding-top:70px;
    width: 100%;
    height: 100%;
}

.barra header{
   height: 70px;
   width: 100%;
   top: 0;
   position: fixed;
   z-index: 12;
   background-color: rgb(33, 33, 73);
}

.menu {
line-height: 70px;
float:right;

}

.menu a {
color: #ffffff;
text-align: left;
font-family:cursive;
padding: 5px 50px;
margin: 0 25px;
text-decoration: none;
}

.menuprincipal{
line-height: 70px;
}
.menuprincipal a{
    color: #ffffff;
    font-family:cursive;
    padding: 5px 50px;
    margin: 0 25px;
    text-decoration: none;
    }
/*RegistroCliente*/
.registro_cliente{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}
.registro_cliente label{
    display:block;
    justify-content: center;
}
.registro_cliente input{
    width: 100%;
    padding: 7px;
}

.registro_cliente .validacionnombre{
    color: red;
}

.registro_cliente .cliente_botones{
    text-align: right;
}
.registro_cliente .cliente_botones button:active{
    background-color: rgb(60, 57, 107);
}
.registro_cliente a.boton {
text-decoration: none;
color:rgb(255, 0, 0)
}

/*RegistroAuto*/
.registro_auto{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}
.registro_auto label{
    display:block;
    justify-content: center;
}
.registro_auto input{
    width: 100%;
    padding: 7px;
}
.registro_auto select{
    width: 100%;;
    padding: 7px;
}
.registro_auto .auto_botones{
    text-align: right;
}
.registro_auto .auto_botones button:active{
    background-color: rgb(60, 57, 107);
}
.registro_auto a.boton {
text-decoration: none;
color:rgb(255, 0, 0)
}
/*Editar*/
.registro_cliente input[readonly]{
    background-color: rgb(61, 59, 59);
}
.registro_auto input[readonly]{
    background-color: rgb(61, 59, 59);
}